node_modules/
dist/
.env
.DS_Store
*.iml
.gradle/
.gradle_home*
.kotlin/
/local.properties
/.idea/
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
app/build/
